{{#partial "pagename"}}
    Manager Details Page:
{{/partial}}

{{#partial "content"}}
    <h1> <small> Here you enter your details as the new manager: </small> </h1>

    <br><br>
    <hr>

    <div class="form-group">

        <form action="/homepage" method="post">
            <label for="username"> Enter your name here: </label>
            <input id="username" name="username" style="padding:10px; border-radius:10px; border:1px solid black; margin:10px; width:70%">

            <button type="submit" class="btn btn-default" style="padding:8px">PROCEED</button>

        </form>

    </div>

    <hr>
    <br><br>
{{/partial}}

{{#partial "footer"}}
    <br>
{{/partial}}

{{>layout.hbs}}