<!DOCTYPE html>
<html>
<head>
    <title class="jumbotron">
        {{#block "title"}}VOLLEY MANAGER{{/block}}
    </title>

    <link rel="icon" src = "/images/icon.png">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs" style="font-family:Monospace">
    <li role="presentation" class="active"><a href="/homepage">Home</a></li>
<!--    <li role="presentation"><a href="/tasks/new">Add a New Task</a></li>-->

<!--    <li role="presentation" class="dropdown">-->
<!--        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--            Category Menu <span class="caret"></span>-->
<!--        </a>-->
<!--        <ul class="dropdown-menu">-->
<!--            {{#if categories}}-->
<!--                {{#each categories}}-->
<!--                    <li><a href="/categories/{{id}}">{{name}}</a></li>-->
<!--                {{/each}}-->
<!--                <li><a href="/categories/new">Add a Category</a></li>-->

<!--            {{else}}-->
<!--                <li><a href="/categories/new">Add a Category</a></li>-->
<!--            {{/if}}-->
<!--        </ul>-->
<!--    </li>-->
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header" style="text-align:center;">
        <img src="/images/layoutheader.jpeg" width="70%" alt="https://images.unsplash.com/photo-1556732282-595ef530909c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
        <h1> {{#block "pagename"}}Welcome to Volley Manager </h1><br>
    <h1><small>Create Your Fantasy VolleyBall Team And Watch Them Win</small></h1>{{/block}}
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
<!--    <footer class="footer">-->
<!--        <div class="container">-->
<!--            <hr>-->
<!--            <p class="text-muted">-->
<!--                <a href="/categories/delete">delete all categories & tasks</a><br>-->
<!--                <a href="/tasks/delete">delete all tasks</a>-->
<!--            </p>-->
<!--        </div>-->
<!--    </footer>-->
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}